<!DOCTYPE html>
<html lang="en">

<head>
  <title>NASA - Astronomy Pic of the Day</title>
</head>

<body>
  <img src={{ url }} />
  <div>
    <h1>Description</h1>
    <div>{{ explanation }}</div>
  </div>
</body>

</html>